
.trpagination{
    // font-family: Lato;
  }
  .rpagination a{
      border: 0;
      color: #7E8B95;
      
  }
  
  .rpagination .disabled span{
      border: 0;
  }
  
  .rpagination{
    font-size: 12px;
    // font-family: Lato;
  }


  .font12{
      font-size: 12px;;
  }